body {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

.tela-inicio {
  background-color: #fb6b6b;
  height: 100vh;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 148px 0 0 0;
}

.tela-inicio img {
  width: 136px;
  height: 161px;
  margin-bottom: 13px;
}

.tela-inicio h1 {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 30px;
}

.tela-inicio .botao {
  width: 246px;
  height: 54px;
  background-color: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tela-inicio .botao p {
  font-family: "Recursive";
  color: #d70900;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.deck {
  background-color: #fb6b6b;
  width: 375px;
  height: 100%;
  padding-bottom: 65px;
}

.deck header {
  width: 375px;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck header img {
  width: 52px;
  height: 60px;
  margin-right: 20px;
}

.deck header h2 {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

.deck footer {
  width: 375px;
  min-height: 70px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.deck footer p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.deck .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards .card {
  width: 300px;
  height: 65px;
  background-color: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 25px;
}

.cards .card p {
  font-family: "Recursive";
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

ion-icon {
  font-size: 25px;
  color: #333333;
}

.cards .question {
  width: 300px;
  min-height: 131px;
  background: #ffffd5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 18px 15px 6px 15px;
  margin-bottom: 25px;
}

.cards .question p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.cards .question img {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 6px;
  right: 15px;
}

.cards .answer {
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.cards .answer .botao {
  width: 85px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer .botao p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 0 10px;
  color: #ffffff;
}

.vermelho {
  background-color: #ff3030;
}
.laranja {
  background-color: #ff922e;
}
.verde {
  background-color: #2fbe34;
}

.riscado {
  text-decoration: line-through;
}

.cards .card p.red,
ion-icon[name="close-circle"] {
  color: #ff3030;
}

.cards .card p.orange,
ion-icon[name="help-circle"] {
  color: #ff922e;
}

.cards .card p.green,
ion-icon[name="checkmark-circle"] {
  color: #2fbe34;
}

footer .final {
  width: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 14px;
}

.final .titulo {
  margin-top: 16px;
  margin-bottom: 14px;
  display: flex;
}

footer .final .titulo img {
  width: 23px;
  height: 23px;
  margin-right: 12px;
}